[submodule "src/tpl/classic/js/bce-bos-uploader"]
	path = src/tpl/classic/js/bce-bos-uploader
	url = https://gitee.com/SwimmingTiger/bce-bos-uploader.git
[submodule "src/nonfree"]
	path = src/nonfree
	url = https://gitee.com/hu60t/hu60wap6-nonfree.git
