/src/config.inc.php
/src/config/db.php
/src/config/security.php
/src/config/system.php
/src/config/site.php
/src/config/tpl/friend_links_data.tpl
/src/config/tpl/site_info.conf

/src/temp/
/src/userfile/
/src/wap/
/src/0.php
/src/core

/src/upload/*.jpg
!/src/upload/default.jpg

.idea/
.vscode/
*.swp
*.zip
*.gz
*.tgz
*.bz2
*.xz
*.rar
*.tar
*~
.htaccess

/src/google*.html
/src/db/qqwry.dat
/src/img/face/*.gif
/src/img/face/*.png
/src/tpl/*/img/face/

/src/baidu_verify_*.html
/src/google*.html

/src/tpl/jhin/jhtml/
/src/tpl/jhin/json/
/src/tpl/classic/jhtml/
/src/tpl/classic/js/cropper/
