[submodule "src/tpl/classic/js/bce-bos-uploader"]
	path = src/tpl/classic/js/bce-bos-uploader
	url = https://gitee.com/SwimmingTiger/bce-bos-uploader.git
[submodule "src/nonfree"]
	path = src/nonfree
	url = https://gitee.com/hu60t/hu60wap6-nonfree.git
[submodule "src/tpl/jhin/js/heif-web-display"]
	path = src/tpl/jhin/js/heif-web-display
	url = https://gitee.com/hu60t/heif-web-display.git
[submodule "src/composer"]
	path = src/composer
	url = https://gitee.com/hu60t/composer.git
