/src/config/db.php
/src/config/security.php
/src/config/system.php
/src/config/site.php
/src/tpl/classic/html/site/friend_links_data.tpl
/src/temp/
/src/userfile/
/src/wap/
/.idea/
/src/0.php
/src/core
/src/upload/*.jpg
!/src/upload/default.jpg
*.swp
*.zip
*.gz
*.tgz
*.bz2
*.xz
*.rar
*~
/src/google*.html
.htaccess
/src/db/qqwry.dat
/src/tpl/*/img/face/

/src/baidu_verify_*.html
/src/google*.html
/.gitignore
/src/tpl/jhin/jhtml
/src/tpl/jhin/json
/src/tpl/classic/jhtml
/src/tpl/classic/js/cropper
/src/tpl/classic/js/jquery-3.1.1.min.js