/src/config/db.php
/src/config/security.php
/src/config/system.php
/src/config/site.php
/src/temp/
/src/userfile/
/src/wap/
/.idea/
/src/0.php
/src/core
/src/upload/*.jpg
*.swp
*.zip
*.gz
*.tgz
*.bz2
*.xz
*.rar
*~
/src/google*.html
.htaccess
/src/db/qqwry.dat
/src/tpl/*/img/face/

/src/baidu_verify_*.html
/src/google*.html
