pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
:root {
  --hljs-color: #24292e;
  --hljs-bg: #fff;
  --hljs-var-color: #d73a49;
  --hljs-func-color: #6f42c1;
  --hljs-attr-color: #005cc5;
  --hljs-str-color: #032f62;
  --hljs-symbol-color: #e36209;
  --hljs-comment-color: #6a737d;
  --hljs-quote-color: #22863a;
  --hljs-subst-color: #24292e;
  --hljs-section-color: #005cc5;
  --hljs-bullet-color: #735c0f;
  --hljs-emphasis-color: #24292e;
  --hljs-strong-color: #24292e;
  --hljs-addition-color: #22863a;
  --hljs-addition-bg: #f0fff4;
  --hljs-deletion-color: #b31d28;
  --hljs-deletion-bg: #ffeef0;
}

[data-hu60-color-scheme='dark'] {
  --hljs-color: #c9d1d9;
  --hljs-bg: #0d1117;
  --hljs-var-color: #ff7b72;
  --hljs-func-color: #d2a8ff;
  --hljs-attr-color: #79c0ff;
  --hljs-str-color: #a5d6ff;
  --hljs-symbol-color: #ffa657;
  --hljs-comment-color: #8b949e;
  --hljs-quote-color: #7ee787;
  --hljs-subst-color: #c9d1d9;
  --hljs-section-color: #1f6feb;
  --hljs-bullet-color: #f2cc60;
  --hljs-emphasis-color: #c9d1d9;
  --hljs-strong-color: #c9d1d9;
  --hljs-addition-color: #aff5b4;
  --hljs-addition-bg: #033a16;
  --hljs-deletion-color: #ffdcd7;
  --hljs-deletion-bg: #67060c;
}

.hljs {
  color: var(--hljs-color);
  background: var(--hljs-bg);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: var(--hljs-var-color);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: var(--hljs-func-color);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: var(--hljs-attr-color);
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--hljs-str-color);
}

.hljs-built_in,
.hljs-symbol {
  color: var(--hljs-symbol-color);
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: var(--hljs-comment-color);
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--hljs-quote-color);
}

.hljs-subst {
  color: var(--hljs-subst-color);
}

.hljs-section {
  color: var(--hljs-section-color);
  font-weight: 700
}

.hljs-bullet {
  color: var(--hljs-bullet-color);
}

.hljs-emphasis {
  color: var(--hljs-emphasis-color);
  font-style: italic;
}

.hljs-strong {
  color: var(--hljs-strong-color);
  font-weight: 700;
}

.hljs-addition {
  color: var(--hljs-addition-color);
  background-color: var(--hljs-addition-bg);
}

.hljs-deletion {
  color: var(--hljs-deletion-color);
  background-color: var(--hljs-deletion-bg);
}
