body {
    word-wrap: break-word;
    word-break: break-all;
    padding: 2px 5px;
    background-color: #FFFFFF;
    color: #000000;
    max-width: 1024px;
    margin: 0px auto;
    box-shadow: 0 0 15px #ccc;
}

p {
    margin: 0px;
    padding: 2px 1px 2px 1px;
}

.tp {
    margin: 0px;
    background-color: #E6F3FF;
}

a {
    text-decoration: none;
    color: #08C;
}

form {
    margin: 0px;
    padding: 0px;
}

img, input, textarea {
    max-width: 100%;
    vertical-align: middle;
}

hr {
    height: 1px;
    border: 1px solid #BED8EA;
    border-left: none;
    border-right: none;
}

textarea {
    width: 270px;
    height: 55px;
    overflow-y: visible;
}

ol, ul {
    margin: 0px;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.notice {
    color: red;
}

img {
    max-width: 100%;
}

.info-box {
    text-align: center;
    border: solid red 1px;
}

.video {
    width: 600px;
    height: 400px;
    border: none;
    max-width: 100%;
}

.audio {
    width: 600px;
    max-width: 100%;
}