body{word-wrap:break-word;word-break:break-all;margin:0px;padding:2px 1px 2px 1px;background-color:#111312;color:#717372;}
p{margin:0px;padding:2px 1px 2px 1px;}
.tp{margin:0px;background-color:#303030;}
a{text-decoration:none;color:#567756;}
form{margin:0px;padding:0px;}
img,input,textarea{max -width:100%;vertical-align:middle;}
hr{height:1px;border:1px solid #995555;border-left:none;border-right:none;}
textarea{width:270px;height:55px;overflow-y:visible;}
ol,ul{margin:0px;}
.success{color:green;}
.failure{color:red;}
img{max-width:100%;}