html,body,div{
  margin: 0;
  padding: 0;
}
h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
.container{
  max-width: 900px;
  margin:0 auto;
  position: relative;
  left: 130px;
  box-shadow: 0 0 15px #ccc;
  border-radius: 15px;
  background-color: #FFF;
  min-height: 95vh;
}
.layout-head-inner{
  position: relative;
}
