@media (prefers-color-scheme: dark) {
    :root {
        --body-color: #c9d1d9;
        --body-bg-color: #0d1117;
        --border-color: #30363d;
        --border-muted-color: #21262d;
        --header-color: #c9d1d9;
        --header-bg-color: #0d1117;
        --title-color: #c9d1d9;
        --title-bg-color: #161b22;
        --muted-color: #8b949e;
        --accent-color: #58a6ff;
        --white-color: #fff;
        --link-color: #58a6ff;
        --tag-color: #58a6ff;
        --tag-bg-color: #388bfd26;
        --btn-color: #c9d1d9;
        --btn-disabled-color: #484f58;
        --btn-bg-color: #21262d;
        --btn-border-color: rgb(240 246 252 / 10%);
        --btn-bg-hover-color: #30363d;
        --btn-border-hover-color: #8b949e;
        --scrollbar-thumb-bg-color: #424242;
        --scrollbar-track-bg-color: #424242;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 1px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg-color);
    }
    ::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-bg-color);
    }
    body {
        color: var(--body-color);
        background-color: var(--body-bg-color);
    }
    a {
        color: var(--link-color);
    }
    hr {
        border-color: var(--border-muted-color);
    }
    input, select, textarea {
        background-color: var(--body-bg-color);
        border:1px solid var(--border-color);
        color: var(--white-color);
    }
    button, input[type=submit], input[type=button] {
        color: var(--btn-color);
        background-color: var(--btn-bg-color);
        border-color: var(--btn-border-color);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        background-image: none;
        text-shadow: none;
    }
    :focus-visible {
        outline: none;
        border-color: var(--accent-color);
    }
    .container {
        background-color: var(--body-bg-color);
        box-shadow: 0 0 15px var(--border-color);
    }
    .layout-header {
        color: var(--header-color);
        background-color: var(--header-bg-color);
    }
    .layout-footer {
        color: var(--muted-color);
        background-color: var(--body-bg-color);
    }
    .layout-footer a {
        color: var(--link-color);
    }
    .layout-foot-inner {
        background-color: var(--title-bg-color);
    }
    .bar {
        color: var(--title-color);
        background-color: var(--title-bg-color);
    }
    .breadcrumb {
        background-color: var(--title-bg-color);
    }
    .forum-list .forum-list-parent > a {
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
    }
    .forum-list .forum-list-child > a {
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
    }
    .topic-ul > li {
        border-color: var(--border-color);
    }
    .forum-name {
        background-color: var(--title-bg-color);
    }
    .topic-status {
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
        border-color: var(--btn-border-color);
    }
    .pagination > li > a {
        color: var(--btn-color);
        background-color: var(--btn-bg-color);
        border-color: var(--btn-border-color);
    }
    .pagination > li > a:hover {
        background-color: var(--btn-bg-hover-color);
    }
    .pagination > .disabled > a {
        color: var(--btn-disabled-color);
        background-color: var(--btn-bg-color);
        border-color: var(--btn-border-color);
    }
    .pagination > .disabled > a:hover {
        background-color: var(--btn-bg-hover-color);
    }
    .tp {
        background-color: var(--title-bg-color);
    }
    .reply-ul > li blockquote {
        border-color: var(--border-color);
        background-color: var(--body-bg-color);
    }
    .comments-number {
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
    }
    .comments-ul > li {
        border-bottom-color: var(--border-color);
    }
    .chat-number {
        color: var(--tag-color);
        background-color: var(--tag-bg-color);
    }
    .topic-content {
        border-top-color: var(--border-color);
        background-color: var(--body-bg-color);
    }
    .topic-panel {
        background-color: var(--title-bg-color);
    }
    .topic-form-label {
        background-color: var(--title-bg-color);
    }
    img {
        filter: brightness(0.85);
    }
}