html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html,body,div{
  margin: 0;
  padding: 0;
}

.chat-content, .topic-content, .reply-content {
    overflow: hidden;
}

/*加载谷歌字体*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align:middle;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
  background-color: #EEE;
}

p {
    margin: 0px;
    padding: 2px 1px 2px 1px;
}

.tp {
    margin: 0px;
    background-color: #E6F3FF;
}
hr {
    height: 1px;
    border: 1px solid #BED8EA;
    border-left: none;
    border-right: none;
}

a {
    text-decoration: none;
    color: #08C;
}

img, input, textarea {
    max-width: 100%;
    vertical-align: middle;
}

textarea {
    width: 270px;
    height: 55px;
    overflow-y: visible;
}

pre, textarea {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

ol, ul {
    margin: 0px;
}
.text-success {
    color: green;
}

.text-failure {
    color: red;
}

.text-notice {
    color: #177cb0;
}
.text-worning{
  color: yellow;
}


.info-box {
    text-align: center;
    border: solid red 1px;
}

button,input[type=submit],input[type=button]{
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to bottom,rgb(255, 255, 255) 50%, rgb(230, 230, 230) 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  color: rgb(51, 51, 51);
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 14px;
  padding: 5px 8px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
  vertical-align: middle;
}
.video {
    width: 600px;
    height: 400px;
    border: none;
    max-width: 100%;
}

.audio {
    width: 600px;
    border: none;
    max-width: 100%;
}
