h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}
/*主题页面布局*/
.container{
  max-width: 900px;
  margin:0 auto;
  position: relative;
  left: 130px;
  box-shadow: 0 0 15px #ccc;
  border-radius: 15px;
  background-color: #FFF;
  min-height: 95vh;
  word-wrap: break-word;
}
.layout-head-inner{
  position: relative;
}
.layout-foot-inner{
  margin-top: 25px;
  padding: 25px 0;
  background-color: #E6F3FF;
}
.layout-foot-inner p{
  text-align: center;
}

/*页面共用组件*/
.bar{
  margin: 10px 0;
  color: #333;
  background-color: #E6F3FF;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 18px;
}
.breadcrumb{
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb a{

}
/*全局通用组件,这一部分组件以 widget- 开头*/
.widget-page{
  margin: 5px 0;
}
.widget-page>a{
  display: inline-block;
  padding: 5px 15px;
}
/*页面头部*/
.logo{
  border-radius: 15px 0 0 0;
  overflow: hidden;
  margin-left: 15px;
  height: 50px;
  width: 128px;
  float: left;
}
.logo img{
  width: 100%;
  height: 100%;
}
/*用户面板*/
.profile{
  padding: 5px;
  position: absolute;
  width: 240px;
  min-height: 250px;
  left:-260px;
  top:0px;
}
.userHeader{
  height: 48px;
}
.userAvatar{
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 3px solid #FFF;
  vertical-align:middle;
}
.userName{
  font-size: 1.5em;
  font-weight: bold;
}
.userPanel{
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
  font-size: 0.8rem;
}
.userPanel>li{
  margin: 5px;
  padding: 0;
}
.userPanel>li>a{
  color:#666;
  display: block;
  padding: 5px 25px 5px 25px;
  border-radius:5px;
}
.userPanel>li>a:hover{
  background: #666;
  color: #FFF;
}
.profileClose{
  font-size: 40px;
  display: none;
  position: absolute;
  bottom: 25px;
  right: 50%;
  margin-left: 40px;
  border-radius: 50%;
  color: #ffa400;
}
.profileFilm{
  display: none;
  position: fixed;
  left: 0;
  right: 80vw;
  top: 0;
  bottom: 0;
}
@media screen and (max-width:1200px){
  .container{
    position: static;
    left: auto;
  }
  .profile{
    position: static;
    min-height: 0;
    height: 50px;
    border: none;
    display: inline-block;
    float: right;
    width: auto;
    left:auto;
    right: auto;
    top:auto;
    padding: 0 15px 0 0;
    border-radius: 0;
    box-shadow: none;
  }
  .profile>a{
    line-height: 50px;
  }
  .userPanel{
    display: none;
  }
  .userName{
    font-size: 1.1rem;
  }
  .userHead{
    width: 30px;
    height: 30px;
  }
  /*移动端，弹出用户面板*/
  .profileMobile{
    display: block;
    position: fixed;
    height: 100vh;
    width: 80vw;
    right: 0;
    background-color: #FFF;
  }
  .profileMobile .profileFilm{
    display: block;
  }
  .profileMobile .profileClose{
    display: block;
  }
  .profileMobile .userPanel{
    display: block;
  }
  .profileMobile .userPanel>li{
    display: block;
    border-bottom: 1px solid #EEE;
  }
  .profileMobile .userPanel a{
    background-color: transparent;
    display: block;
  }
}
/*用户面板结束*/

/*收信箱界面*/
.msg-box{
  padding-left: 15px;
  border-bottom:2px solid #BED8EA;
}

/*论坛主题部分*/
.forum-name{
  font-size: 1.2rem;
  padding: 5px 15px;
  background-color: #E6F3FF;
}
.forum-name a{
}
/* 搜索页面 */
.search-list ul{
  list-style-type:none;
}
/*帖子列表*/
.topic-list{

}
.topic-ul{
  list-style-type: none;
  padding: 0;
}
.topic-ul>li{
  padding: 5px 10px 2px 10px;
  border-bottom: 2px solid #EEE;
}
/*帖子页面部分*/
.topic>h1{
  margin-left: 15px;
}
.topic-author{
  font-size: 1.1rem;
}
.topic-content{
  border-top: 2px solid #BED8EA;
  padding: 8px;
  background-color: #FFF;
  overflow: hidden;
}
.topic-content img{
  max-width: 100%;
}
.topic-meta, .comments-meta{
  font-size: 0.8rem;
  margin-left: 25px;
  margin-top: 5px;
  color: gray;
}
.topic-panel{
  background-color: #EEE;
  margin-bottom: -10px;
}
.topic-panel>a,.topic-panel>div{
  display: inline-block;
  padding: 5px 8px;
  font-size: 1rem;
  color: #2e4e7e;
}
.topic-panel a>i{
  font-size: 1rem;
}
.topic-panel>a:hover{
  color: #FFF;
  background-color: #9d2933;
}
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
}
/*分页组件开始*/
.pagination {
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  align-content:center;
	padding-left: 2px;
	margin: 20px 0 20px 20px;
}
.pagination > li {
  display: inline-block;
}
.pagination > li:first-child > a{
  border-radius: 5px 0 0 5px;
}
.pagination > li:last-child > a{
  border-radius:0 5px 5px 0;
}
.pagination > li > a {
  position: relative;
  margin-left: -1px;
  display: block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #337ab7;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover{
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover{
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}
/*分页组件结束*/
/*评论框部分*/
.comments-ul{
  list-style-type: none;
  padding: 0;
}
.comments-ul>li{
  position: relative;
  padding: 5px 8px 2px 8px;
  border-bottom: 2px solid #EEE;
}
.floor-content{
  margin-left: 50px;
  transition:height 0.5s;
  transition-timing-function: ease;
  overflow: hidden;
}
.floor_fold_bar{
  text-align: center;
  margin: 10px 0;
}
.comments-meta{
  margin-top: 3px;
}
.comments-number{
  display: block;
  height: 35px;
  width: 45px;
  line-height: 25px;
  border-radius:0 10px 10px 0;
  text-align: center;
  position: absolute;
  left: 0;
  color: #999;
  background-color: #EEE;
}
.comments-author{
  font-size: 1.1rem;
  font-weight: 700;
  color: #065279;
}
.chat-new{
  text-align: center;
}
/* 登录框组件*/
.login-form{
	max-width: 450px;
	margin:20px auto;
	border-radius: 5px;
	padding: 15px 25px;
	box-shadow: 0 0 5px #AAA;
}
.input-group{
	padding: 8px;
	position: relative;
}
.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="mail"]{
	width: 100%;
	padding: 8px 20px 8px 60px;
	border: 1px solid #d2d8d8;
}
.login-form-submit{
	display: inline-block;
	width: 60%;
	height: 2rem;
	margin:0 auto;
}
.login-label{
	display: inline-block;
	color: #999;
	position: absolute;
	left: 15px;
	top:14px;
}

/*发帖组件开始*/
.widget-form{
  margin: 15px 0;
  padding: 8px;
  border-top: 2px solid #AAA;
  border-bottom: 2px solid #AAA;
}
.topic-form-label{
  display: block;
  background-color: #f5f5f5;
  font-size: 1.2rem;
}
.topic-form-title{
  display: block;
  font-size: 1.2rem;
  border: 2px solid #EEE;
  border-radius: 0;
  width: 80%;
  margin: 5px;
  padding: 5px;
}
.topic-form-content{
  display: block;
  border: 2px solid #EEE;
  min-height: 160px;
  border-radius: 0;
  width: 80%;
  margin: 5px;
  padding: 5px;
}
.topic-form-submit{
}
/*发帖组件结束*/

/*聊天室页面*/
.chat-form-content{
  width:80%;height:100px;
}
.chat-form-submit{

}
.chat-list{
  padding: 0;
  list-style-type: none;
}
.chat-list > li{
  margin: 0;
  padding:20px 15px 10px 15px;
  border-bottom:  1px solid #EEE;
  position: relative;
}
.chat-content{
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
}
.chat-number{
  height: 25px;
  padding: 0 12px;
  text-align: center;
  font-weight: 700;
  position: absolute;
  background-color: #EEE;
  color: #999;
  left: 0;
  top: 8px;
  border-radius: 0 5px 5px 0;
}
.chat-meta-name{
  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
}
.chat-meta{
  font-size: 0.8rem;
  font-weight: 400;
  color: #999;
  margin-left: 25px;
}
.chat-meta a{
  color: #88A;
}
